
.titleFav {
    color: white;
    background-color: #D47AE8;
    text-align: center;
    padding: 0px 5px 6px 10px;

    margin-bottom: 30px;
    border-radius: 10px;
}


.background_list{
    color: #D47AE8;

}
.itemList{
    border: solid;
    text-align: center;
    color: #D47AE8;
}

.images{
    margin: 1rem 0.5rem;
    width: 3rem;

}


